{% extends "base.html"%}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h2 class="my-4 text-dark text-left mx-0">
        {% trans 'user list nav' %}
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'username'%}</th>
            <th>{% trans 'fullname'%}</th>
            <th>{% trans 'date of create'%}</th>
            <th></th>
        </tr>
        </thead>
        {% for user in object_list %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.date_joined|date:"d.m.Y H:i"}}</td>
            <td>
                <a href="{% url 'user_update' user.id %}">{% trans 'update button'%}</a>
                <br>
                <a href="{% url 'user_delete' user.id %}">{% trans 'delete button'%}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


